<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script src="angular.min.js"></script>
	<script src="moment.js"></script>
	<style>
	section{
		margin-bottom: 10px;
	}
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	ol{
		width: 500px;
		list-style: none;
	}
	li{
		margin-bottom: 10px;
		padding: 5px;
		border : 1px solid gray;
		background-color: #e7e7e7;
		border-radius: 5px;
	}
	.stats, .bugname{
		font-size: 18pt;
	}
	.bugname{
		cursor: pointer;
	}
	.datetime{
		font-style: italic;
		display : block;
	}
	</style>
	<script>
		/*
			Use cases
			========
			1. List the bugs - (done)
			2. Add a new bug - (done)
			3. Toggle the closed status of a bug - (done)
			4. Remove the closed bugs - (done)
			5. Display statistics - (done)
			6. Search for the bugs - (done)
			7. Sort the bugs - (done)
			8. Improve bug display - (done)
			9. Persist the bugs in the localStorage - (assignment)
				window.localStorage
					- key/value store
					- value must be a string
					- use angular.toJson() and angular.fromJson() for serialization and deserialization
					- apis
						* setItem(key, value)
						* getItem(key) // => returns the value
						* removeItem(key)
						* key(index)  // => key at index
						* clear()
						* length

			10. Display 'created At'
			11. Persist the bugs in the server
			12. Categorize the bugs
		*/
	</script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		bugTrackerApp.value("defaultBugName", "[Default Bug]")

		bugTrackerApp.factory("bugOperations", function(defaultBugName){
			return {
				create : function(id, bugName){
					bugName = bugName || defaultBugName;
					return {
						id : id,
						name : bugName,
						isClosed : false,
						createdAt : new Date()
					}
				},
				toggle : function(bug){
					bug.isClosed = !bug.isClosed;
				}
			}
		});

		bugTrackerApp.controller("bugsController", function($scope, bugOperations){
			$scope.bugs = [
				{id : 1, name : "Data validation failure", isClosed : false, createdAt :  new Date(2016, 2, 2)},
				{id : 2, name : "User authentication is wrong", isClosed : true, createdAt :  new Date(2016, 2, 3)},
				{id : 3, name : "Server communication erratic", isClosed : false, createdAt :  new Date(2016, 2, 4)},
				{id : 4, name : "Datetime values are not displayed", isClosed : false, createdAt : new Date("2016-03-26T06:27:43.921Z")}
			];
			
			$scope.addNew = function(newBugName){
				$scope.bugs.push(bugOperations.create(newBugName));
			};

			$scope.toggleBug = function(bug){
				bugOperations.toggle(bug);
			};

			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			};

			$scope.getClosedCount = function(){
				var closedCount = 0;
				for(var i=0; i<$scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++closedCount;
				return closedCount;
			}
		});

		bugTrackerApp.value("defaultTrimLength", 30)
		bugTrackerApp.filter("trimText", function(defaultTrimLength){
			return function(data, trimLength){
				var trimLength = trimLength || defaultTrimLength;
				return data.length < trimLength ? data : data.substr(0,trimLength) + '...';
			}
		});
		bugTrackerApp.value("momentApi", moment);
		bugTrackerApp.filter("elapsed", function(momentApi){
			return function(data){
				return momentApi(data).fromNow();
			}
		})
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{getClosedCount()}}</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="section search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Is Closed ? :</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug = {}">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<!-- <input type="text" ng-model="sortBugBy"> -->
			<select ng-model="sortBugBy">
				<option value="name">Name</option>
				<option value="isClosed">Status</option>
			</select>
			<label for="">Descending ? :</label>
			<input type="checkbox" ng-model="sortBugDescending">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add Bug" ng-click="addNew(newBug)">
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
			<ol>
				<li ng-repeat="bug in (bugs | filter:searchBug | orderBy:sortBugBy:sortBugDescending)">
					<span ng-class="{closed : bug.isClosed}"  class="bugname" ng-click="toggleBug(bug)">
						{{bug.name | trimText:20}}
					</span>
					<span class="datetime">{{bug.createdAt | elapsed}}</span>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>